html, body
    overflow hidden
    box-sizing border-box
    width 1920px
    height 1080px
    background-color rgba(13, 42, 67, 0)
    // background-image url('/bg.png')
    background-image url('https://datav.oss-cn-hangzhou.aliyuncs.com/uploads/images/48394be6272c28ce2587fc9085807d86.png')
    background-size 100% 100%
    transform scale(1, 1)
    transform-origin left top 0px
