title()
    .title
        margin 0 auto
        width 300px
        height 30px
        line-height 30px
        text-align center
        // background-color rgb(26, 72, 78)
        // color rgb(248, 188, 56)
        color rgb(248, 188, 56)
        font-weight normal
        font-family 'Microsoft Yahei'
        font-size 22px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden